<% def link_to(name, url)
      return "<a href='#{url}'>#{name}</a>"
   end %>


<html>
  <body>
  <%= Time.now %>
    <h1>You're using a layout</h1>
    <p>
      <h3> I'm a header</h3>
      <p>Put things in the header</p>
      <a href="http://reddit.com">This is a link to reddit</a><br>
      <%= link_to('This is a link to google', 'http://google.com') %> <br>
      <a href='me.html'>Me</a>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
      <h3> I'm a footer</h3>
      <p>Put things in the footer</p>
    </div>
  </body>
</html>